<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<% if current_user %>
		Welcome back to Chitter <%= current_user.name %>
		<form method="post" action="/sessions/sign_out">
			<input type="hidden" name="_method" value="delete">
			<input type="submit" value="Sign Out">
	<% end %>

	<% if flash[:errors] && !flash[:errors].empty? %>
		Sorry, there were the following problems with the form:
		<ul id="errors">
			<% flash[:errors].each do |error| %>
				<li><%= error %></li>
			<% end %>
		</ul>
	<% end %>

	<%if flash[:notice] %>
		<div id="notice">
			<%=flash[:notice] %>
		</div>
	<% end %>

	<%= yield %>
</body>
</html>